CURRENCY_PAIRS=EUR:USD,EUR:CNY,EUR:BRL,EUR:BGN,EUR:GBP,EUR:SGD,EUR:TRY,EUR:SEK,EUR:ILS,EUR:CHF,EUR:KRW,EUR:PHP,EUR:JPY,EUR:HKD,EUR:IDR,EUR:THB,EUR:DKK,CNY:SGD,CNY:USD
DATA_DIR=data
SCHEDULE_TIME=09:00
